!**/src/**/build
!**/test/**/build
!**/testData/**/*.iml
*.iml
*.versionsBackup
.DS_Store
.gradle/
.idea/.name
.idea/artifacts/KotlinPlugin.xml
.idea/artifacts/PILL_*.xml
.idea/artifacts/dist.xml
.idea/artifacts/dist_auto_*
.idea/artifacts/ideaPlugin.xml
.idea/artifacts/kotlin_compiler_client_embeddable_jar.xml
.idea/artifacts/kotlin_compiler_jar.xml
.idea/artifacts/kotlin_daemon_client_jar.xml
.idea/artifacts/kotlin_imports_dumper_compiler_plugin_jar.xml
.idea/artifacts/kotlin_jps_plugin_jar.xml
.idea/artifacts/kotlin_main_kts_jar.xml
.idea/artifacts/kotlin_plugin_jar.xml
.idea/artifacts/kotlin_reflect_jar.xml
.idea/artifacts/kotlin_stdlib_js_ir_*
.idea/artifacts/kotlin_stdlib_wasm_*
.idea/artifacts/kotlin_test_js_ir_*
.idea/artifacts/kotlinc.xml
.idea/artifacts/kotlinx_atomicfu_runtime_*
.idea/artifacts/kotlinx_cli_jvm_*
.idea/compiler.xml
.idea/csv-plugin.xml
.idea/gradle.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/jarRepositories.xml
.idea/ktlint-plugin.xml
.idea/libraries
.idea/libraries-with-intellij-classes.xml
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/misc.xml
.idea/modules
.idea/modules.xml
.idea/remote-targets.xml
.idea/runConfigurations/JPS_*.xml
.idea/runConfigurations/PILL_*.xml
.idea/runConfigurations/_FP_*.xml
.idea/runConfigurations/_MT_*.xml
.idea/shelf
.rpt2_cache/
/android-studio/sdk
/android.tests.dependencies
/clionSDK
/confluence/target
/dependencies/android.tests.dependencies
/dependencies/repo
/dist
/gh-pages
/idea/testData/debugger/tinyApp/classes*
/ideaSDK
/intellij
/jps-plugin/testData/kannotator
/js/js.translator/testData/out-min/
/js/js.translator/testData/out-pir/
/js/js.translator/testData/out/
/kotlin-native/dist
/local
/test.output
/tmp
build/
buildSrcTmp/
distTmp/
docs/site
kotlin-ide/
libraries/tools/kotlin-test-js-runner/lib/
local.properties
material_theme_project_new.xml
node_modules/
out/
outTmp/
workspace.xml
